<div class="row">

    <div class="col-md-12">
        <h1>Podaj klucz dostępu</h1>
    </div>
    <div class="col-md-4">
        <hr />
        <input type="password" name="secureKey" value="" class="form-control" />
        <hr />
    </div>

    <div class="col-md-4">
        <hr />
        <button class="btn btn-info btn-block">Potwierdź</button>
    </div>

    <div class="col-md-12">
        <div class="partialContent" data-url='@(Html.Raw(Url.Action("IndexPartialView", "Home")))'>
        </div>
    </div>

</div>